<form novalidate [formGroup]="feedbackForm" (ngSubmit)="sendFeedback(feedbackForm.value, feedbackForm.valid)">
  <p>
    <input type="text" formControlName="name" placeholder="Name" required>
    <span class="error-msg" *ngIf="(feedbackForm.get('name').hasError('required') && feedbackForm.get('name').touched) || (feedbackForm.get('name').pristine && submitted)">Name is required</span>
  </p>

  <p>
    <input type="email" formControlName="email" placeholder="E-mail address" required>
    <span class="error-msg" *ngIf="feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched || (feedbackForm.get('email').pristine && submitted)">Email is required</span>
  </p>

  <p>
    <textarea formControlName="message" placeholder="Message" rows="10" required></textarea>
    <span class="error-msg" *ngIf="feedbackForm.get('message').hasError('minLength') && feedbackForm.get('message').touched || (feedbackForm.get('message').pristine && submitted)">Message is too short</span>
  </p>

  <button type="submit">
    <span *ngIf="!submitPending">SEND</span>
    <span *ngIf="submitPending">SENDING</span>
  </button>
</form>
