input, textarea {
  width: 98%;
  min-width: 98%;
  padding: 1%;
  border: 1px solid white;
  background: rgba(white, 0.2);
  color: white;
  &:focus {
    background: white;
    outline: 1px solid white;
    color: black;
  }
  &::placeholder {
    color: white;
  }
}
button {
  padding: 5px 20px;
  border: 1px solid white;
  background: rgba(white, 0.2);
  color: white;
  &:hover {
    color: black;
    background: white;
  }
  &:focus {
    outline: none;
  }
}
