.contact-par {
  display: flex;
  margin-bottom: 10px;
}
.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 16px;
  }
}
.contact-copy {
  margin-left: 10px;
  p {
    margin: 0;
    font-size: 12px;
  }
}
