<div class="full-bg">
  <div class="tile-container">
    <app-presentation></app-presentation>
    <app-tile-decorator [tileIcon]="'send'" [tileTitle]="'Contact Us'">
      <app-contact-form></app-contact-form>
    </app-tile-decorator>
    <app-tile-decorator [tileIcon]="'room'" [tileTitle]="'Location'">
      <app-location></app-location>
    </app-tile-decorator>
    <app-tile-decorator [tileIcon]="'book'" [tileTitle]="'Contact Info'">
      <app-contact-info></app-contact-info>
    </app-tile-decorator>
  </div>
</div>
