//colors
$disabled: #8c8c8c;

@media (min-width: 960px) {
  .tile-icon, .tile-title {
    color: $disabled;
    transition: color, 1s;
  }
  .tile-icon {
    margin-bottom: 30px;
    i {
      font-size: 48px;
    }
  }
}
