//Global and general styles
//colors
$textGrey: #cecece;
$error: #ff6b6b;

body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.error-msg {
  font-size: 11px;
  color: $error;
}
//sets background image
.full-bg {
  background-image: url("/assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tile-wrapper {
  padding: 40px;
  p {
    font-size: 14px;
    color: $textGrey;
  }
}
.tile-bg {
  display: block;
  background-color: rgba(black, 0.5);
  &:nth-child(2) {
    background-color: rgba(black, 0.6);
  }
  &:nth-child(3) {
    background-color: rgba(black, 0.7);
  }
  &:nth-child(4) {
    background-color: rgba(black, 0.8);
  }
}

@media (min-width: 960px) {
  .tile-wrapper {
    padding: 100px 20px 20px;
  }
  .tile-container {
    display: flex;
  }
  .tile-bg {
    align-items: stretch;
    height: 100vh;
    &:first-child {
      width: 50%;
    }
    &:not(:first-child) {
      flex: .5;
      transition: flex, 1s;
    }
  }

  //extend tiles
  .tile-content {
    opacity: 0;
    transition: all, 1s;
  }
  .tile-bg:not(:first-child):hover {
    flex: 1;
    .tile-content {
      opacity: 1;
    }
    .tile-icon, .tile-title {
      color: white;
    }
  }
}
